@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Styles */
body {
  font-family: "Inter", sans-serif;
}

input::placeholder {
  color: #a0aec0; /* Light gray placeholder */
}

button:focus {
  outline: none;
}
